n8n/ClaCorreo.json
{
  "name": "ClaCorreo",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        96
      ],
      "id": "8b3a3451-e733-425e-82e6-0d010d9a3a87",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3MOnmXjkFcwYUXuq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente experto en clasificar correos electrónicos. Tu única tarea es analizar el remitente y el contenido de un correo y decidir si pertenece a la categoría 'linkedin' o 'otro'.\n\nClasificarás el correo como 'linkedin' si se cumplen AMBAS de las siguientes condiciones:\n1. El remitente es exactamente 'jobalerts-noreply@linkedin.com'.\n2. El asunto o el cuerpo del correo contiene la frase 'Ingeniero de software'.\n\nSi no se cumplen ambas condiciones, clasificarás el correo como 'otro'.\n\nTu respuesta debe ser UNA SOLA PALABRA: 'linkedin' o 'otro'. No añadas explicaciones, saludos ni ningún texto adicional.\n\n---\nRemitente: {{ $json.From }}\nAsunto y Cuerpo: {{ $json.Subject }} {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "315471b0-11ad-4205-8808-4b182aeb0308",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "G9dZFoZGbsY1Bpws",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "***REDACTED***",
              "leftValue": "={{ $json.isTarget }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        144
      ],
      "id": "53d13dd3-1708-4d48-ae40-e8346b835029",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "***REDACTED***"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        128
      ],
      "id": "f5bc23b0-0ac0-4ab7-9ad9-146b6131a588",
      "name": "Add label to message",
      "webhookId": "***REDACTED***",
      "credentials": {
        "gmailOAuth2": {
          "id": "3MOnmXjkFcwYUXuq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        128
      ],
      "id": "9e359dc1-2db0-473e-b469-d0b2d3823df5",
      "name": "Remove label from message",
      "webhookId": "***REDACTED***",
      "credentials": {
        "gmailOAuth2": {
          "id": "3MOnmXjkFcwYUXuq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        96
      ],
      "id": "a01de6d9-bef9-4602-a07f-b0c99eb26c57",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        144
      ],
      "id": "40f8f2f8-3e7f-479e-ab83-bbd30a00fdd0",
      "name": "Wait",
      "webhookId": "6840a78e-0d45-4ada-90a8-1b93f61a4a4b"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Extraemos el texto de la IA y lo pasamos a minúsculas para comparar\n  const aiResponse = (item.json.message?.text || \"\").toLowerCase();\n\n  // Validamos si la respuesta contiene \"linkedin\"\n  if (aiResponse.includes('linkedin')) {\n    item.json.category = \"LinkedIn\";\n    item.json.isTarget = true;\n  } else {\n    // Si es cualquier otra cosa (o error), cae en \"Otro\"\n    item.json.category = \"Otro\";\n    item.json.isTarget = false;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        144
      ],
      "id": "f2fa4206-4f19-4da8-9d52-3154f7828b52",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove label from message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "43dLGEk2pHBe7pVF",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "33ee23f7-a63e-415b-accc-4bcc1309805f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1e76d04c9c1bc3036f07e24d385e0ab24ab5bddf96d41edd140e7fe9fc6e497"
  },
  "id": "YeG7e6qZZ6QMB6QJ",
  "tags": []
}